<!DOCTYPE html>
<html
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.3-strict.dtd">
<head>
<title>Insert title here</title>
</head>
<body>
	<wicket:panel>
		<div class="link-list-wrapper">
			<ul class="link-list">

				<li class="mb-2"><a wicket:id="impostazioni" class="list-item"
					aria-disabled="false"> <span>Impostazioni</span>
				</a></li>

				<li class="mb-2"><a wicket:id="autocertificazione"
					class="list-item" aria-disabled="false"> <span>Autodichiarazione
							nucleo famigliare</span>
				</a></li>

				<li class="mb-2"><a wicket:id="linkSoddisfazione"
					class="list-item" aria-disabled="false" target="_blank"> <span>Aiutaci
							a migliorare</span>
				</a></li>

				<li class="mt-3 mb-0"><a class="list-item color-blue-spid"
					wicket:id="logOut"> <span class="icon-esci color-blue-spid">
							<span>Esci</span>
					</span>
				</a></li>
			</ul>
		</div>

	</wicket:panel>

	href="Shibboleth.sso/Logout?return=https://fascicolo-test.comune.genova.it/auth-service/logout"

</body>
</html>