<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.3-strict.dtd">
    <head>
        <meta charset="ISO-8859-1" />
        <title>Insert title here</title>
    </head>

    <body>
        <wicket:panel>
            <div class="row content my-4 info-traffico">
                <div class="col-12">                              
                    <h4 class="d-flex flex-wrap">
                        <span wicket:id="titolo"></span>
                        :
                        <span wicket:id="elementi" class="d-flex my-1">
                        	<span wicket:id="testoElemento" class="badge mx-2 no-display-inline-block"></span>
 						</span>
                    </h4>                
                </div>
            </div>
        </wicket:panel>
    </body>
</html>