<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.3-strict.dtd">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<wicket:panel>
<!--start card-->
<div class="card-wrapper card-space">
	<div class="card card-bg my-2">
		<div class="card-body">
			<div class="categoryicon-top row mb-4">
				<i wicket:message="class:CedoleTemplate.icona"></i>
				<h4 class="card-title text-left font-weight-bold col-9"><wicket:message key="CedoleTemplate.titolo"/></h4>
			</div>
			
			<div wicket:id="feedback"></div>
			
			<div class="container" wicket:id="containerMieiDati">
				<wicket:child />
			</div>
		</div>
	</div>
</div>
<!--end card-->
</wicket:panel>
</body>
</html>