<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.3-strict.dtd">
<head>
<meta charset="ISO-8859-1">
<title>Componente Link Dinamico</title>
</head>
<!-- Attenzione richiede Wicket Bootstrap -->
<body>
	<wicket:panel>
		<a wicket:id="link" href="#">
			<i class="d-table-row" wicket:id="icona"></i>
			<br>
			<span wicket:id="label"></span>
		</a>
	</wicket:panel>
		 <a class="d-table mx-auto link-icon">
	         <i class="icon-contatti color-orange d-table-row"></i>
	         <span wicket:id="mioNucleoAnagrafico"></span>
		</a> 
</body>
</html>