<!DOCTYPE html>
<html lang=IT
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.3-strict.dtd">
<head>
<meta charset="ISO-8859-1" />
<title>Componente Link Dinamico</title>
</head>
<body>
	<wicket:panel>
		<div wicket:id="div">
			<a wicket:id="linkImg" href="#"> 
				<i wicket:id="icona" style="width: 100%;">
					<img wicket:id="image" alt="logo" style="width: 100%;"> 
				</i>
				<br wicket:id="tagBr">
				<span wicket:id="iconaInfo"></span>
				<span wicket:id="label"></span>
			</a>
		</div>
	</wicket:panel>
</body>
</html>