<?xml version="1.0" encoding="UTF-8"?>
<wicket:panel xmlns:wicket="http://wicket.apache.org">

	<input wicket:id="textField" type="text" class="form-control"
		style="display: none;" />
	
	<div id="multiselezione" class="bootstrap-select-wrapper">
		<label wicket:id="lblCombo" for="selectExample4">Etichetta</label> <select aria-label="Default select example"
			wicket:id="combo" title="Scegli una opzione"
			data-live-search="true" data-live-search-placeholder="Cerca opzioni"></select>
	</div>


</wicket:panel>
