<!DOCTYPE html>
<html
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.3-strict.dtd">

<head>
<title>Above Footer Panel</title>
</head>

<body>
	<wicket:panel>

		<div class="container _suggerimenti bg-white mb-4 pb-2">
			<section class="md-4 sm-2">
				<div class="row  mx-0">

					<div class="col-lg-12 col-md-12 col-sm-12">
						<div class="d-flex justify-content-center" style="gap: 20px">
							<div class="my-auto">

								<a class="link-icon" wicket:id="linkSuggerimenti"
									target="_blank" style="font-size: initial"></a>
							</div>
							<div class="my-auto">
								<a class="link-icon" wicket:id="linkSuggerimentiNew"
									style="font-size: initial"></a>
							</div>
							<div class="my-auto">
								<a class="link-icon" wicket:id="linkSoddisfazione"
									target="_blank" style="font-size: initial"><span
									class="icon-matita align-middle mr-2"></span><span> <wicket:message
											key="AboveFooter.soddisfazione" />
								</span></a>
							</div>

						</div>
					</div>
				</div>
			</section>
		</div>

	

	</wicket:panel>
</body>

</html>