<?xml version="1.0" encoding="UTF-8"?>
<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <wicket:enclosure child="download">
        <div class="d-flex justify-content-center">
        
            <button  style="min-width: 200px;"class="btn btn-primary btn-icon focus-visible-none" wicket:id="download">
                  <svg class="icon icon-white" aria-hidden="true">
                    <use href="/portale/bootstrap-italia/svg/sprites.svg#it-download"></use>
                  </svg>
             </button>
        </div>
    </wicket:enclosure>
    <div wicket:id="feedbackPulsante"></div>
</wicket:panel>


