<!DOCTYPE html>
<html
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.3-strict.dtd">
<body>
	<wicket:panel>
		<div class="col-12">
			<nav class="breadcrumb-container" aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item" wicket:id="listaBreadcrumb">
						<span wicket:id="testo"></span>
						<a href="" wicket:id="itemBreacrumb"></a>
						<span class="separator" wicket:id="separator">/</span>
					</li>
				</ol>
			</nav>
		</div>
	</wicket:panel>
</body>
</html>
